<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <title>Counter</title>
    <style>
        form{
            display: inline;    
        }
        .add{
            margin-left: 40%;
        }
    </style>
</head>

<body>
    <div class="jumbotron text-center">
        <h1>Counter</h1>
        <h3>{{ session["counter"] }} times</h3>
    </div>
    <form class='add' method='post' action="/add">
        <button type="submit" class="btn btn-success">Add 2</button>
    </form>
    <form class='reset' method='post' action="/destroy_session">
        <button type="submit" class="btn btn-danger">Reset Count</button>

    </form>
</body>

</html>